---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Illustration from "@comps/Illustration.astro";
import Tags from "@comps/Tags.astro";
import Info from "@comps/Info.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { pubDate, title, tags, image, imageAlt, description } = post.data;
const { Content, remarkPluginFrontmatter } = await post.render();
---

<Layout {...post.data}>
  <header slot="title">
    <Tags tags={tags} href="/blog" />
    <h1>{title}</h1>
    <div class="grid">
      <span class="article-description">{description}</span>
      {
        image && (
          <Illustration
            src={image}
            alt={imageAlt}
            loading="eager"
            class="article-image"
          />
        )
      }
      <Info
        readTime={remarkPluginFrontmatter.readingTime.minutes}
        pubDate={pubDate}
      />
    </div>
  </header>
  <Content components={{ img: Illustration }} />
</Layout>

<style>
  .grid {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap);
  }
</style>
