---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const formatDate = (date: Date) =>
  date.toLocaleString("en-GB", {
    dateStyle: "medium",
    timeStyle: "short",
  });
---

<Layout title="Blog">
  <div class="article-list">
    {
      posts.map((post) => (
        <article class="article-card">
          <a href={`/blog/${post.slug}/`} class="article-link">
            <h2>{post.data.title}</h2>
          </a>
          {post.data.description}
          <footer class="article-footer">
            <time
              class="article-pubdate"
              datetime={post.data.pubDate.toISOString()}
            >
              {formatDate(post.data.pubDate)}
            </time>
          </footer>
        </article>
      ))
    }
  </div>
</Layout>

<style>
  h2 {
    margin: 0;
  }
  .article-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap);
  }
  .article-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap);
    background: rgb(var(--color-mantle));
    padding: var(--spacing-padding);
    border-radius: var(--radius-layout);
  }
  .article-pubdate {
    font-size: smaller;
    color: rgb(var(--color-subtext1));
  }
  .article-link {
    text-decoration: none;
  }
</style>
