---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const formatDate = (date: Date) =>
  date.toLocaleString("en-GB", {
    dateStyle: "medium",
    timeStyle: "short",
  });
---

<Layout title="Blog">
  <div class="article-list">
    {
      posts.map((post) => (
        <article class="article-card">
          <a href={`/blog/${post.slug}/`} class="article-card-link">
            <h2>{post.data.title}</h2>
          </a>
          {post.data.description}
          <footer class="article-card-footer">
            published {formatDate(post.data.pubDate)}
            {post.data.updatedDate &&
              `, last updated ${formatDate(post.data.updatedDate)}`}
          </footer>
        </article>
      ))
    }
  </div>
</Layout>

<style>
  h2 {
    margin: 0;
  }
  .article-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap);
  }
  .article-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap);
  }
  .article-card-footer {
    font-size: 0.8em;
  }
  .article-card-link {
    text-decoration: none;
  }
</style>
