---
import Layout from "@layouts/Layout.astro";
import { db, postEdits } from "@lib/db";
import { eq, desc } from "drizzle-orm";
import { actions } from "astro:actions";

const { user } = Astro.locals;
if (!user) return Astro.redirect("/account");

const { slug } = Astro.params;
const [post] = await db
  .select()
  .from(postEdits)
  .where(eq(postEdits.slug, slug))
  .orderBy(desc(postEdits.publishedAt))
  .limit(1);
---

<Layout title={`edit ${post?.title ?? "new blog entry"}`}>
  <form method="post" action={`/blog/${slug}` + actions.blog.edit}>
    <input type="hidden" name="id" value={post?.postId} />
    <label for="title">Path</label>
    <input type="text" name="slug" value={slug} />
    <label for="title">Title</label>
    <input required type="text" name="title" value={post?.title} />
    <label for="description">Description</label>
    <input required type="text" name="description" value={post?.description} />
    <label for="content">Content</label>
    <textarea required name="content" rows={30}>{post?.content}</textarea>
    <button>Edit</button>
  </form>
</Layout>
