---
import { SITE_TITLE, SITE_DESCRIPTION } from "@src/consts";
import { getImage } from "astro:assets";
import icon from "@assets/icons/icon.png";

interface Props {
  title?: string;
  description?: string;
}

let { title = "", description = SITE_DESCRIPTION } = Astro.props;
if (title) title += " - ";
title += SITE_TITLE;

const image = await getImage({
  src: icon,
  height: 1200,
});
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<link rel="manifest" href="/manifest.webmanifest" />

<!-- Social -->
<link rel="me" href="https://tilde.zone/@bricked" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE_TITLE}
  href={new URL("/blog/rss.xml", Astro.site)}
/>

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={SITE_TITLE} />
<meta property="og:image" content={image.src} />

<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />

<!-- Other -->
