---
import SocialBadge from "@components/SocialBadge.astro";
import Layout from "@layouts/BlogPost.astro";

import {
  GITHUB_TAG,
  NPM_TAG,
  DISCORD_TAG,
  MATRIX_TAG,
  EMAIL,
  GITHUB_URI,
  NPM_URI,
  DISCORD_URI,
  MATRIX_URI,
  EMAIL_URI,
} from "@src/consts";
---

<Layout
  title="About Me"
  description="Description about me."
  pubDate={new Date("Aug 29 2023")}
  heroImage="/about-banner.jpg"
>
  <p>
    I'm Bricked and I'm a German highschool student who spends too much time online! I like to
    program stuff like Discord bots, websites and libraries in my free time and engage in the
    Fancade visual scripting community. Apart from that I administrate MUES and Artcade on Discord.
  </p>

  <h2>Contact</h2>
  <p>Say hi to me here!</p>
  <ul>
    <li><SocialBadge name="Discord" uri={DISCORD_URI} tag={DISCORD_TAG} /></li>
    <li><SocialBadge name="Matrix" uri={MATRIX_URI} tag={MATRIX_TAG} /></li>
    <li><SocialBadge name="Email" uri={EMAIL_URI} literal tag={EMAIL} /></li>
  </ul>

  <h2>Code</h2>
  <p>Find my newest projects here!</p>
  <ul>
    <li><SocialBadge name="GitHub" uri={GITHUB_URI} tag={GITHUB_TAG} /></li>
    <li><SocialBadge name="NPM" uri={NPM_URI} tag={NPM_TAG} /></li>
  </ul>
</Layout>
