---
import Layout from "../layouts/BlogPost.astro";

const GITHUB_TAG = "brckd";
const GITHUB_URI = `https://github.com/${GITHUB_TAG}`;
const NPM_TAG = "bricked";
const NPM_URI = `https://www.npmjs.com/~${NPM_TAG}`;
const DISCORD_TAG = "brckd";
const DISCORD_URI = "https://discord.com/users/691572882148425809";
const MATRIX_TAG = "bricked:matrix.org";
const MATRIX_URI = `https://matrix.to/#/@${MATRIX_TAG}:matrix.org`;
const EMAIL = "hello@bricked.dev";
const EMAIL_URI = `mailto:${EMAIL}`;
---

<Layout
  title="About Me"
  description="Description about me."
  pubDate={new Date("Aug 29 2023")}
  heroImage="/about-banner.jpg"
>
  <p>
    I'm Bricked and I'm a German highschool student who spends too much time online! I like to
    program stuff like Discord bots, websites and libraries in my free time and engage in the
    Fancade visual scripting community. Apart from that I administrate MUES and Artcade on Discord.
  </p>

  <h2>Contact</h2>
  <p>Say hi to me here!</p>
  <ul>
    <li><b>Discord</b><a href={DISCORD_URI}><code>@{DISCORD_TAG}</code></a></li>
    <li><b>Matrix</b><a href={MATRIX_URI}><code>@{MATRIX_TAG}</code></a></li>
    <li><b>Email</b><a href={EMAIL_URI}><code>{EMAIL}</code></a></li>
  </ul>

  <h2>Code</h2>
  <p>Find my newest projects here!</p>
  <ul>
    <li><b>GitHub</b><a href={GITHUB_URI}><code>@{GITHUB_TAG}</code></a></li>
    <li><b>NPM</b><a href={NPM_URI}>@{NPM_TAG}<code></code></a></li>
  </ul>
</Layout>
